
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply transform transition-all bg-primary hover:brightness-110 hover:-translate-y-0.5 active:brightness-90 text-white py-1 px-2 font-bold rounded-md focus:outline-primary;
    }
    .btn-small {
        @apply btn p-1 w-20 text-sm;
    }
    .btn-outlined-small {
        @apply border-2 border-primary hover:bg-primary hover:bg-opacity-25 active:brightness-90 p-1 rounded-md font-bold w-auto text-sm;
    }
    .btn-outlined-xsmall {
        @apply border-2 border-primary hover:bg-primary hover:bg-opacity-25 active:brightness-90 p-0 rounded-md font-medium w-auto text-xs;
    }
}